<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>810420409996-390f31am943eujvddjs7j41u05mgn1ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.810420409996-390f31am943eujvddjs7j41u05mgn1ff</string>
	<key>API_KEY</key>
	<string>AIzaSyBirkTacjIJqFTs1058jOAOvor8koWKRZA</string>
	<key>GCM_SENDER_ID</key>
	<string>810420409996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sueaty.FillMe</string>
	<key>PROJECT_ID</key>
	<string>fillme-7c484</string>
	<key>STORAGE_BUCKET</key>
	<string>fillme-7c484.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:810420409996:ios:2fe9745bffb1fd86510da9</string>
</dict>
</plist>